/* -----------GLOBAL---------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* -----------HEADER---------- */

/* -----------CAROUSEL---------- */

/* -----------FEATURES---------- */

/* -----------COURSES---------- */

/* -----------SERVICES---------- */

/* -----------STATISTIC---------- */

/* -----------FEEDBACK---------- */

/* -----------INSTRUCTORS---------- */

/* -----------CONTACT---------- */

/* -----------BACK-TO-TOP BUTTON---------- */

/* -----------RIGHTSIDE BAR---------- */



